<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring5_mybatis_study.mappers.CourseErollmentMapper">

	<resultMap type="CourseErollment" id="erollmentRes">
		<association property="course" javaType="Course">
		</association>
		<association property="student" javaType="Student">			
		</association>
	</resultMap>
	
	<select id="selctCourseErollmentById" resultMap="erollmentRes">
		select c.course_id, c.name as cname, c.description, c.start_date, c.end_date, s.stud_id, s.name, s.email 
		  from COURSE_ENROLLMENT ce join courses c ON ce.course_id  = c.course_id 
			   join  students s on ce.stud_id  = s.stud_id 
		 where ce.course_id = #{course.courseId} and ce.stud_id = #{student.studId}
	</select>

	<insert id="insertCourseErollment">
		insert into COURSE_ENROLLMENT(course_id, stud_id)
		values(#{course.courseId}, #{student.studId});	
	</insert>

	<update id="updateCourseErollment" >
		update  course_enrollment  
		   set course_id = #{item1}, stud_id = #{item2}
		 where course_id = #{item3} and stud_id = #{item4}
	</update>

	<delete id="deleteCourseErollment">
		delete 
		  from course_enrollment 
		 where course_id = #{course.courseId} and stud_id = #{student.studId}	
	</delete>

</mapper>